<div class="procura">
    <label for="">Buscar</label> <input type="text" name="i_buscar" > 
    <img width="34" height="34" src="https://img.icons8.com/dusk/64/google-web-search.png" alt="google-web-search"/>
</div>