
{{>header}}

<br>
    {{>search}}


<br>
 <table>
    <thead>
        <tr> 
             <th>N°</th>
             <th>Objetivo</th>
             <th>Descrição</th>
             <th>Comando</th>
        </tr>
    </thead>
    <tbody>
        {{#each response}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.objetivo}}</td>
                <td>{{this.descricao}}</td>
                <td>{{this.comando}}</td>
            </tr>
        {{/each}}
    </tbody>
 </table>

<footer>
    <p> &copy Everson Bacelli </p> 
    <div>
        <p>TECNOLOGIAS UTILIZADAS: </p>
        <img width="48" height="48" src="https://img.icons8.com/color/48/mysql--v1.png" alt="mysql--v1"/>
        <img width="48" height="48" src="https://img.icons8.com/color/48/english-mustache.png" alt="english-mustache"/>
        <img width="48" height="48" src="https://img.icons8.com/color/48/nodejs.png" alt="nodejs"/>
        <img width="48" height="48" src="https://img.icons8.com/external-konkapp-outline-color-konkapp/64/external-railway-japan-konkapp-outline-color-konkapp.png" alt="external-railway-japan-konkapp-outline-color-konkapp"/>
    </div>
</footer>